*{
  margin: 0 auto;
  padding: 0;
}
body{
    font-family: "alpha echo";
}
.row-list{
  width: 100%;
  margin: 0 auto;
}
.btn-group{
  height: 10%;
  font-size: 14pt;
}
.main-nav{
  float: right;
  word-spacing: 2em;
  margin-top: 6%;
}
.main-nav a{
  display: inline-block;
  list-style: none;
  font-size: 14pt;
  color: orange;
  font-weight: bold;
}
.main-nav a:hover{
  color: white;
  transition: all 0.5s, ease-in;
  padding: 5px 0;
}
.top_header{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../assets/steak.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 90vh;
  background-position: center;
}
.post-content{
  top: 40%;
  text-align: center;
  position: absolute;
  font-size: 40pt;
  color: white;
  margin-left: 10%;
}
h1{
  margin-top: 3%;
  text-align: center;
}
.middle-header{
  height: auto;
  width: 100%;
}
.innovative{
  font-style: italic;
}
.notes{
  padding: 50px ;
  margin-top: 2%;
  font-size: 12pt;
}
h4{
  font-style: italic;
  color: orange;
}
.food-header{
  margin-top: 15%;
}
.meal-list{
  width: 100%;
  list-style: none;
  margin: 0;
}
.meal-list li {
  display: block;
  float: left;
  margin-top: 15%;
}
.meal-list img{
  overflow: hidden;
  width: 100%;
  height: auto;
  margin: 0 auto;
  transform: scale(1.20);
}
.container{
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../assets/drinks.png');
  width: 100%;
  margin-top: 38%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.container p{
  color: white;
  font-size: 12pt;
  text-align: justify;
  margin-top: 10%;
}
.container img{
  width: 25%;
  border-radius: 50%;
}
h2{
  text-align: center;
  margin-top: 5%;
  color: white;
}
h3{
  text-align: center;
}
.social-row{
  display: block;
  text-align: center;
}
.social-row img{
  width: 10%;
}
.contact-row{
  text-align: center;
  color: grey;
}
.demo-submission-modal{
  justify-content: center;
  background-color: #FFFFFF;
  position: fixed;
  border: 2px solid #009DDA;
  border-radius: 8px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 800px;
  padding: 20px;
  display: none;
}
.demo-submission-modal.open {
  display: flex;
  z-index: 1;
}
.open ~ .main-content,
.open ~ .top-header {
  /*filter: opacity(.2);*/
  filter: blur(6px) grayscale(100%);
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #EDEDED;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

label {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.full-name-form {
  display: flex;
  flex-direction: row;
}

.full-name-form .first-name {
  margin-right: 20px;
}

.demo-form-container {
  display: flex;
  flex-direction: column;
}

.demo-form-container li {
  margin-bottom: 20px;
}

textarea {
  resize: none;
  box-sizing: border-box;
  width: 100%;
  display: block;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #EDEDED;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

.submit-form-button {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: #F7941D;
  color: #FFFFFF;
  margin-top: 10px;
  width: 135px;
  font-size: 1.1em;
  padding: 15px 0;
  align-self: center;
}

.none {
  display: none;
}

@media only screen and (max-width : 945px) {
  .brightedge-logo-container {
    display: flex;
    justify-content: center;
  }

  .center-section {
    flex-direction: column;
  }

  .full-name-form {
    flex-direction: column;
  }

  .full-name-form .first-name {
    margin-right: 0;
  }

  input {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #EDEDED;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
  }

  .demo-submission-modal.open {
    height: 60%;
    overflow: auto;
    padding-bottom: 0;
  }
