body {
  background-color: #000000;
}
.square {
  width: 30%;
  background-color: purple;
  padding-bottom: 20%;
  float: left;
  margin: 1.66%;
}
#container {
  margin: 0 auto;
  width: 600px;
}
h1{
  color: white;
}
span{
  color: white;
}
